.input2{
    display: flex;
    input{
        border: 1px solid #D9D9D9;
        height: 35px;
        padding: 7px;
    }
    button{
        background-color: #10385B;
        width: 42px;
    }
}