.linecont{
    color: #FFF;
    
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &__head1{
        opacity: 0.5;
    }
    padding-top: 10px;
    h3{
        font-size: 14px;
    }
}