.newsletter{
    background-color: #1D7AD0;
    h2{
        font-size: 18px;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px 30px 62px;
    input{
        width: 380px;
    }
    position: absolute;
    top: 312px;
    left: 200px;

}

@include mobile{
    .newsletter{
        flex-direction: column;
        padding-left: 40px;
        input{
            width: 200px;
            
        }
        &__cont{
            margin-top: 20px;
        }
        padding-top: 20px;
        position: static;
    }
    
}

@include tablet{
    .newsletter{
        flex-direction: column;
        padding-left: 40px;
        input{
            width: 300px;
            
        }
        &__cont{
            margin-top: 20px;
        }
        padding-top: 20px;
        position: static;
    }
    
}